*
{
    margin: 5px;
}

.parent
{
    padding-left: 20px;
}
.div{
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    align-content: space-around;
}
.div1
{
    display: inline;
    margin-left: 5%;
}
.div2
{
    display: inline-block;
    margin-left: 5%;
    width: 300px;
}
.p1,.p2
{
    font-size: 25px;
    text-align: start;
    padding-left: 20px;
}
.p1
{
    color: #847f81;
    padding-bottom: 5px;

}
.p2
{
    color: #c47d97;
    padding-bottom: 10px;

}
.email,.password
{
    padding: 10px;
    background-color: #f9f6f6;
    border-radius: 10px;
    border-style: solid;
    border-color: #dad8d8;
    text-decoration-color: #858082;
    width: 200%;
    height: 50px;
}
.button{
    text-align: center;
    width:180%;
    height:50px;
    margin-left:30px;
    background-color: #7f5161;
    color: white;
    border-radius: 8px;
    border-style: hidden;


}

.div4
{
    display: inline;
    width:200px;
    text-align: start;
}
.signInLine
{
    color: #847f81;
}
.signInWith
{
    margin-left: 50%;
    align-items: center;
    display: inline-flex;
}
.p1,.p2,.signInLine,.signInWith,.submit{
    font-family: 'Roboto', sans-serif;
   
}